<template name="finProfile">
	<div class="fin_questions">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="fin_form">My zip code is</span>
					<input class="fin_entry" maxlength="5" name="zip_code" placeholder="94117" type="text" />
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="fin_form">and I'm looking to</span>
					<input class="fin_entry" maxlength="5" name="trans_type" placeholder="purchase" type="text" />
					<span class="fin_form">my home.</span>			
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="fin_form">The home selling price is</span>
					<input class="fin_entry" maxlength="6" name="trans_type" placeholder="200,000" type="text" />
					<span class="fin_form">and I plan to offer</span>
					<input class="fin_entry" maxlength="3" name="trans_type" placeholder="20%" type="text" />
					<span class="fin_form">down payment.</span>			
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 text-center">
					<span class="fin_form">My fico score is</span>
					<input class="fin_entry" maxlength="3" name="trans_type" placeholder="680" type="text" />
				</div>
			</div>
		</div>
	</div>
</template>