<template name="finProfile">
	<h1>Financial Profile</h1>
	<ul>
		<li>
			<h3>Question: 1</h3>
			<p>Purchase of Refinance Loan?</p>
		</li>
		<li>
			<h3>Question: 2</h3>
			<p>Where is the property Located?</p>
		</li>
		<li>
			<h3>Question: 3</h3>
			<p>What is the home selling price? </p>
		</li>
		<li>
			<h3>Question: 4</h3>
			<p>How much do you have for down payment? </p>
		</li>
		<li>
			<h3>Question: 5</h3>
			<p>What is your FICO score?</p>
		</li>
	</ul>

	
		 
	

	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<span class="fin_form">My zip code is</span>
				<input class="fin_entry" maxlength="5" name="zip_code" placeholder="10012" type="text" />
			</div>
			<div class="col-md-12 text-center">
				<span class="fin_form">and I'm looking to</span>
				<input class="fin_entry" maxlength="5" name="trans_type" placeholder="purchase" type="text" />
				<span class="fin_form">my home.</span>
				<div>This is a test.</div>
			</div>
		</div>

	</div>
	






</template>